.App {
}

.navbar{
  display: flex;
  flex-direction: column;
}

.links{
  display: flex;
  justify-content: space-around;
}

.title{
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.nav1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rosybrown;
}
.nav2{
  display: flex;
  flex-direction: row;
}

.recipes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.countries{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  height: 60%;
  margin-top: 3%;
}

.rond{
  width: 19%;
  margin:0.5%;
}

.picRecipe{
}
 




